In [9]:
# Lists of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School"]

for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School

In [8]:
#A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                     {"High School": "Figueroa", "Tyoe": "District"},
                     {"High School": "Wilson", "Type": "Charter"},
                     {"High School": "Wright", "Type": "Charter"}]
print(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Tyoe': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [11]:
#Add the Pandas dependency 
import pandas as pd

In [15]:
#Create a Pandas Series from a list
school_series = pd.Series(high_schools)
#Para ver la salida, necesitamos recuperarla llamando a la variable school_series
school_series

0        Huang High School
1     Figueroa High School
2      Shelton High School
3    Hernandez High School
dtype: object

In [18]:
#A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [19]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [20]:
#Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [21]:
#Initialize a new DataFrame
schools_df = pd.DataFrame()

In [22]:
#Add the list to a new DataFrame
schools_df["School ID"] = school_id

#Print the DataFrame
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [23]:
schools_df["School Name"] = school_name
schools_df["Type of school"] = type_of_school

schools_df

   School ID            School Name Type of school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [27]:
#Create a dictionary of information on high schools
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

high_school_dict = pd.DataFrame()

In [28]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [30]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [31]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [38]:
#Ejercicio de habilidad 
high_school_dicts_exercise = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"},
                    {"School ID": 5, "school_name": "Wilson High School", "type": "Charter"},
                    {"School ID": 6, "school_name": "Cabrera High School", "type": "Charter"},
                    {"School ID": 7, "school_name": "Bailey High School", "type": "District"},
                    {"School ID": 8, "school_name": "Holden High School", "type": "Charter"},
                    {"School ID": 9, "school_name": "Pena High School", "type": "Charter"},
                    {"School ID": 10, "school_name": "Wright High School", "type": "Charter"},
                    {"School ID": 11, "school_name": "Rodriguez High School", "type": "District"},
                    {"School ID": 12, "school_name": "Johnson High School", "type": "District"},
                    {"School ID": 13, "school_name": "Ford High School", "type": "District"},
                    {"School ID": 14, "school_name": "Thomas High School", "type": "Charter"}]

high_school_dicts_exercise_df = pd.DataFrame(high_school_dicts_exercise)

high_school_dicts_exercise_df

    School ID            school_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter